@use './abstract' as *
@use './utilities' as *
@use './components' as *

:root 
  font-family: 'Roboto'
  box-sizing: border-box

body
  background-color: $charcoal
  color: $slate
  min-height: 100svh