@use './abstract' as *
@use './utilities' as *
@use './components' as *

*, 
*::after,
*::before
  box-sizing: border-box
  
:root 
  font-family: 'Roboto'

body
  background-color: $charcoal
  color: $slate
  min-height: 100svh