doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title News 
    link(rel="stylesheet", href=require('./../sass/index.sass'))
    script(src=require('./../index.js')) 
  body
    main.newsletter
      section.newsletter__info 
        h1 Stay updated!
        p Join 60,000+ product managers receiving monthly updates on:
        ul
          li Product discovery and building what matters
          li Measuring to ensure updates are a success
          li And much more!
        label(for="email") Email address
        input(type="email", name="email", placeholder="email@company.com")
        button 
          a(href="./success.html") Subscribe to monthly newsletter
      section.newsletter__image
        picture 
          img(src=require('./../assets/images/illustration-sign-up-desktop.svg'),
          alt="newsletter image")

    .attribution Challenge by 
      a(href="https://www.frontendmentor.io?ref=challenge", target="_blank") Frontend Mentor
      | . Coded by 
      a(href="https://www.github.com/Code4V") Code4V
      | .