doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title News 
    link(rel="stylesheet", href=require('./../sass/index.sass'))
    script(src=require('./../index.js')) 
  body
    section
      h2 Thanks for subscribing!
      p A confirmation email has been sent to ash@loremcompany.com. Please open it and click the button inside to confirm your subscription.
      button Dismiss message

    .attribution Challenge by 
      a(href="https://www.frontendmentor.io?ref=challenge", target="_blank") Frontend Mentor
      | . Coded by 
      a(href="https://www.github.com/Code4V") Code4V
      | .