@use './../abstract' as *
  
.newsletter
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

  display: grid
  grid-template-columns: repeat(2, 440px)
  justify-content: center
  padding: 1.5rem
  border-radius: 2.1rem
  background-color: $white
  width: min-content

  &__info
    padding-block-start: 4.55rem
    padding-inline-start: 2.5rem
    padding-inline-end: 1.5rem

    > * 
      margin-block-end: 1.5rem

    h1
      font-size: 3.5rem
    
    p
      line-height: 1.5rem

    ul
      display: flex
      flex-flow: column wrap
      gap: .65rem
      align-content: flex-start
      justify-content: center
      margin-block-end: 2.5rem

      li
        position: relative
        display: flex
        align-items: center
        gap: 1rem
        &::before
          content: url('./../../assets/images/icon-list.svg')

    label
      font-size: .75rem
      font-family: 'Roboto Bold'
      margin-block-end: .7rem
      display: inline-block

  &__image
    margin-inline-start: auto